/* -------------------Footer------------------- */
#footer {
  margin-top: 10vh;
  display: flex;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
  background: rgba(217, 217, 217, 0.3);
  border: 1px solid #d9d9d9;
  --bs-gutter-x: 0;
}

footer p,
footer a {
  margin: 0;
  text-decoration: none;
}

footer a:hover {
  color: #878787;
}

@media only screen and (max-width: 768px) {
  #footer {
    height: 12vh;
    margin-left: 0;
    align-content: center;
    margin-top: 4vh;
  }
  #footer div {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
