/* -------------------Global------------------- */
*{
    font-family: 'Poppins';
    font-style: normal;

}

body{
    background-color: #E5E5E5;
    
}

a{
    color: #7A33CC;
}


/* -------------------Texts------------------- */
.textStrong, #headerTitle, .topVentas p, .cardTitle, #titleInfoStrong, .titleInfo{
    font-weight: 700;
}

.textGrande{
    font-size: 42px;
    line-height: 56px;
    color: #2F343D;
}

.textTiny{
    font-size: 14px;
}

.textFino{
    font-weight: 400;
}

.textMedio{
    font-weight: 500;
}

.textPequeño{
    font-size: 18px;
    line-height: 30px;
    color: #2F343D;
}

.textMuyPeque{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #2F343D;
}

.textMediano{
    font-size: 30px;
    line-height: 42px;
}

.ancho{
    width: 100%;
}

/* -------------------Otros elementos comunes------------------- */
.btnPrincipal{
    padding: 20px 30px;
    width: auto;
    color:#FFFFFF;
    background: #7A33CC;
    border-radius: 50px;
    border: 0;
}

.dividerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 7vh;
}

.section{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    align-items: center;
    width: 90%;
    flex-direction: column;
}


/* -------------------Header------------------- */
#bckimg{
    position: absolute;
    top: 0;
    z-index: -1;
}

#headerLogo{
    background: linear-gradient(83.33deg, #7733CE 0%, #FF4351 100%);
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

#logoImg{
    height: 30%;
    margin-left: 4vh;
}

#headerText{
    background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../Recursos/HeaderImg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

#headerTitle{
    line-height: 70px;
    font-size: 50px;
    isolation: isolate;
}

#titleSpecial{
    background: #FF5766;
    border-radius: 50px;
    padding: 0 13px;
}

#btnHeaderMobile{
    margin: 0;
    padding: 10px 20px;
    font-size: 10px;
}

.btnHeaderStyle{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background: #FFFFFF;
    border-radius: 50px;
    border: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.btnHeader.mostrar {
    opacity: 1;
}

.btnHeaderStyle p {
    margin-bottom: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7A33CC;
}

@media only screen and (max-width: 600px) {
    #headerLogo {
      position: fixed;
      z-index: 2;
    }
    #btnHeaderMobile{
        display: flex;
    }
  }


/* -------------------Sección fomulario------------------- */
#firstSectionRow{
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.15));
    margin-right: 3vh;
}

.checksForm img{
    margin-right: 1vh;
}

form label{
    letter-spacing: 0.4px;
    color: #2F343D;     
}
form input, form select{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 10px;
    width: 100%;
}

form select{
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../Recursos/Vector.png");
    background-repeat: no-repeat;
    background-position: right 35px bottom 28px;
    padding-right: 25px;
}


#termsText{
    margin: 0;
    margin-left: 1vh;
}

#checkTerms{
    -webkit-appearance: none;
    appearance: none;
    float: left;
    height: 18px;
    width: 22px;
    padding: 0;
    border-radius: 3px;
}

#checkTerms:checked{
    background-image: url("../Recursos/checkBk.png");
    background-size: cover;
}

#colTerms{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#rowSend{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btnForm p {
    margin-bottom: 0;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


/* -------------------Sección experiencias------------------- */

#sectionExp{
    text-align: left;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50px 50px 20px 20px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.1));
    background: #ffffff00;
}
.cardFondo{
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
}

.cardOff{
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    align-self: flex-end;
    transform: translateY(-13vh);
    background: #2F343D;
    border: 1px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    padding: 0.1vh 1vh;
    position: absolute;
}

.topVentas{
    background: linear-gradient(83.33deg, #7733CE 0%, #FF4351 100%);
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 2px 35px;
    position: absolute;
    z-index: 1;
    top: 0;
}

.topVentas p{
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}

.cardBody{
    padding: 20px 30px 25px;
    display: flex;
    flex-direction: column;
}

.cardTitle{
    font-size: 22px;
    line-height: 30px;
    color: #2F343D;
}

.precioCard{
    font-size: 16px;
    line-height: 22px;
    color: #878787;
}
.precioCard strong{
    color: #5D338D;
    font-size: 20px;
    line-height: 22px;
}

.btnCard{
    background: #7A33CC;
    border-radius: 500px;
    border: 0;
    padding: 1vh;
}

.btnCard p {
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.verMasCard{
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #7A33CC;
    margin: 0;
}

.verMasIcon{
    width: 15px;
    margin-left: 1vh;
}

.divider{
    border: 1px solid #878787;
    margin: 2vh 0;
}

.validezText{
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    color: #5D338D;
}

.validezIcon{
    width: 15px;
    margin-right: 1vh;
}

.verMasDiv{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.validezDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#segundaRowExps{
    display: flex;
}

/* -------------------Sección que hace diferente------------------- */
#titleInfo,#titleInfoStrong{
    margin: 0;
}

.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 45px;
    background: #FFFFFF;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.infoCard *{
    margin: 1vh 0;
}

.titleInfo{
    font-size: 20px;
    line-height: 32px;
    margin: 0;
}

/* -------------------Divider + CTA------------------- */
#titleYMás{
    margin-top: 5vh;
}

#ymasDesc{
    width: 70%;
    text-align: center;
}


/* -------------------Sección vídeo------------------- */
#videoDiv{
    text-align: center;
    margin-top: 4vh;
}

#videoDiv div{
    display: flex;
    justify-content: flex-end
}


#videoDiv div img{
    margin: 1vh 0 0 3vh;
}

#titleVideo{
    width: 60%;
    margin: auto;
    margin-bottom: 2vh;
}

#videoText{
    text-align: center;
}

#descVideo{
    width: 80%;
    margin: auto;
}

#video{
    margin-top: 3vh;
    border-radius: 20px;
    
}

#videoFullScreen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(28,28,28,.19);
    backdrop-filter: blur(6px);
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#videoContainer{
    max-width: 1280px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#videoClose{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    align-self: flex-end;
    border-radius: 50%;
    background-color: rgba(0,0,0,.341);
    margin-bottom: -2vh;
}

/* -------------------Footer------------------- */
footer{
    margin-top: 10vh;
    display: flex;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
    background: rgba(217, 217, 217, 0.3);
    border: 1px solid #D9D9D9;
}
footer p,footer a{
    margin: 0;
    text-decoration: none;
}
